$cyan: #00b4b4;
$yellow: #ffc800;
$green: #6cd027;
$dark-green: #59b68e;
$orange: #fa6233;
$l-orange: #f07c43;
$blue: #48a8df;
$red: #f05743;
$gray: #989898;

$font-color: #333;

$bd-color: #e5e5e5;

$bg-color: #dbe6e7;
$btn-active: #eee;
