
<div class="back">
	<%= image_tag 'wechat/home/1.png' %>
	<p>开始学习</p>
</div>

<div class="weui-tab">
  <div class="weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
      <img image_url="3.png" alt="3" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">速读之害</p>
    </a> 
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
      <img image_url="4.png" alt="4" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">慢读之利</p>
    </a>
    <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
      <img image_url="5.png" alt="5" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">个人中心</p>
    </a>
  </div>
</div>